<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>geowidget</servlet-name>
        <servlet-class>servelets.geowidget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gazetteerlookup</servlet-name>
        <servlet-class>tools.gazetteerlookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gazetteercompare</servlet-name>
        <servlet-class>tools.gazetteercompare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>world</servlet-name>
        <servlet-class>tools.world</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>geowidget</servlet-name>
        <url-pattern>/geowidget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gazetteerlookup</servlet-name>
        <url-pattern>/gazetteerlookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gazetteercompare</servlet-name>
        <url-pattern>/gazetteercompare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>world</servlet-name>
        <url-pattern>/world</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
