<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>GetGeoJSON</servlet-name>
        <servlet-class>de.i3mainz.chronontology.servlets.GetGeoJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gazetteerlookup</servlet-name>
        <servlet-class>de.i3mainz.chronontology.tools.gazetteerlookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gazetteercompare</servlet-name>
        <servlet-class>de.i3mainz.chronontology.tools.gazetteercompare</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGeoJSON</servlet-name>
        <url-pattern>/GetGeoJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gazetteerlookup</servlet-name>
        <url-pattern>/gazetteerlookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gazetteercompare</servlet-name>
        <url-pattern>/gazetteercompare</url-pattern>
    </servlet-mapping>
    <!-- Jersey -->
    <servlet>
        <servlet-name>SPI</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>de.i3mainz.chronontology.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>de.i3mainz.chronontology.restconfig.CORSFilter</param-value>
        </init-param>
        <!-- http://javaevangelist.blogspot.de/2012/01/jersey-tip-of-day-use-gzip-compression.html-->
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SPI</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
</web-app>
